.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}

.j-end {
  justify-content: end;
}

.space-btw {
  justify-content: space-between;
}

.f-column {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow2 {
  flex: 2;
}

.grow3 {
  flex: 3;
}

.grow4 {
  flex: 4;
}

.p50 {
  padding: 50px;
}

.p5 {
  padding: 5px;
}

.pt50 {
  padding-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

a {
  margin: 10px;
}

img {
  height: 200px;
}
.container{
  width: 500px;
  height: 100px;
}
.box{
  width: 50px;
  height: 50px;
  border: 1px black solid;
}
button{
  margin: 5px
}
.chatbox{
  width: 500px;
  height: 300px;
  border: 1px black solid;
  overflow: scroll;
}
.userbox{
  width: 500px;
  height: 50px;
  border: 1px black solid;

}
.selected {

  background-color: lightcyan
}
.messagebox{
  width: 500px;
  height: 120px;
  border: 1px black solid;

}


h6{

  margin-block-start: 5px;
    margin-block-end: 5px;
    margin-left: 10px;
}